*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
:root{
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ffc06e;
    --secondary-color: #8D8DFF;
    --color-1: #F9F6F3;
    --color-2: #f3f7f9;
    --color-3: #F6F3F9;

}
html{
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}
body{
    padding: 1em;

}
nav{
    margin: 1em auto 3em auto;
    width: 100px, 100%;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}
nav li:first-child{
    margin-right: auto;
    font-weight: bold;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}


header, section {
    
    margin: 2em auto;
    width: 75em 100%;
    background-color: var(--color-1);
    padding: 2em 15%;
    border-radius: 1em;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}
header img {
    
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;

}
.text-container{
    flex: 0 1 34em;
}
h1{
    font-size: 2.5rem;
}
.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}
.cta-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: 0.5em;
    font-weight: 600;
}
.secondary{
    background-color: var(--secondary-color);
}
section{

    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}
h2{
    font-size: 2rem;
}
section p{
    margin-top: 1em;
    font-size: 1.25rem;
}
section#my-work{
    background-color: var(--color-3);
}
.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
}
.grid-container img{
    
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}


.grid-container img:hover{
    scale: 1.05;
}